body {
  background-color: #f5f7fb !important;
  font-family: Public Sans,sans-serif !important;
}
.box-shadow-none {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.chatHeader {
  height: 70px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
.chatHeader .ChatHeadContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 0px 10px;
  font-family: "Poppins";
  z-index: 2;
  border: 1px solid #f0eff5!important;
}
.chatThread {
  height: calc(100vh - 170px);
  overflow-y: hidden;
  padding: 0px 13px 10px 13px;
  border: 1px solid #f0eff5!important;
  background-color: #fff;
  background-size: cover;
}

.chatInput {
  height: 100px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.chatInput .chatInputContent {
  height: 70px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #f0eff5!important;
  padding: 16px 10px 0 10px;
  align-items: center;
}

.message-row {
  margin-bottom: 10px;
}
.chatClearFix {
  height: 62px;
}
.message-row .self {
  padding-left: 20px;
  display: flex;
  justify-content: end;
}
.message-row .other {
  padding-right: 20px;
  display: flex;
  justify-content: start;
}
.message-row .name {
  font-weight: 500;
  font-size: 14px;
}
.chat {
  min-width: 130px;
  padding: 10px;
  max-width: 100%;
  width: auto;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.message-row .self .chat {
  background-color: #f5f7fb;
  color: #343a40;
  border-top-left-radius: 8px;
}
.message-row .other .chat {
  background-color: #7269ef;
  border-bottom-right-radius: 8px;
  color: white;
}
.chatTime {
  margin-top: 1px;
  width: 100%;
  text-align: end;
  font-size: 11px;
  color: hsla(0,0%,100%,.5);
}
.chatMessage{
  word-break: break-all;
}
.self .chatTime {
  color: #7a7f9a;
}
.other .chatTime {
  color: hsla(0,0%,100%,.5);
}
.ps__rail-y {
  display: none !important;
}
.message-input {
  width: calc(100% - 61px);
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  margin: 0 10px;
  color: #333;
  background-color: #e6ebf5!important;
}
.message-send-btn {
  margin-left: 5px;
  width: 56px;
  height: 36px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #7269ef;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.menu-body{
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}
.online{
  color: green;
}
.member-list{
  padding: 10px;
  margin: 0px;
}
.member{
  justify-content: space-between;
  padding: 15px 0 0 0;
  border-bottom: 1px solid #f0eff5;
}
.member-status{
  font-size: 12px;
}