<div class="vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-12">
                <div class="row vh-100">
                    <div>
                        <div class="col-12" class="chatHeader">
                            <div class="ChatHeadContent">
                                <div>Tribble group chat</div>
                                <div class="me-2">
                                    <button class="btn box-shadow-none" (click)="logOut()">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" class="chatConv">
                        <perfect-scrollbar>
                            <div class="conversations">
                                <div class="conv-single" *ngFor="let conv of arrConversations">
                                    <button class="w-100 conv-btn box-shadow-none text-start" (click)="selectConversation(conv)" [ngClass]="{'active' : conv._id==strCurrentConvId}">
                                        <div class="btn-content">
                                            <div class="d-flex justify-content-between">
                                                <div class="conv-left">{{ conv.group == 0 ? getEffectiveUserName(conv?.users) : conv.groupName}}</div>
                                                <div class="conv-time d-flex align-items-center">
                                                    {{conv.lastUpdate | chatDate }}
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="row vh-100">
                    <div>
                        <div class="col-12" class="chatHeader">
                            <div class="ChatHeadContent">
                                <div>{{strCurrentConvName}}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-12" class="chatThread">
                            <perfect-scrollbar #threadScroll>
                                <div class="ChatThreadContent" id="threadHide" [ngClass]="{'opacity-1' : !blnSpinner, 'opacity-0' : blnSpinner}">
                                    <div class="col-12 message-row"
                                        *ngFor="let message of arrMessages; let i = index; last as last; first as first;"
                                        [ngClass]="{ 'mt-3' : first }">
                                        <div *ngIf=" (message.sender[0]?._id != strCurrentUserId)">
                                            <div class="name">{{message.sender[0].name}}</div>
                                        </div>
                                        <div
                                            [ngClass]="{'other' : message.sender[0]._id != strCurrentUserId, 'self' :   message.sender[0]._id == strCurrentUserId}">
                                            <div class="chat">
                                                <div class="chatMessage"> {{message.message}}</div>
                                                <div class="chatTime"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    {{message.time | chatDate }} </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-5" *ngIf="blnSpinner">
                                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                </div>
                            </perfect-scrollbar>
                        </div>
                    </div>
                    <div>
                        <div class="col-12" class="chatInput">
                            <div class="chatInputContent">
                                <div class="row">
                                    <div class="col-12">
                                        <form [formGroup]="messageForm" #myform="ngForm"
                                            (ngSubmit)="sendMessage(myform)">
                                            <div class="d-flex">
                                                <input type="text" class="message-input" placeholder="Type a message"
                                                    formControlName="message" />
                                                <button type="submit" class="message-send-btn"
                                                    [disabled]="messageForm.invalid"><i class="fa fa-paper-plane"
                                                        aria-hidden="true"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
