<!-- <router-outlet></router-outlet> -->
<div class="vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
                <div class="row vh-100">
                    <div>
                        <div class="col-12" class="chatHeader">
                            <div class="ChatHeadContent">
                                <div>Tribble group chat</div>
                                <div class="me-2"><button class="btn box-shadow-none" (click)="openModal(menu)"><i
                                            class="fa fa-ellipsis-v" aria-hidden="true"></i></button></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-12" class="chatThread">
                            <perfect-scrollbar (psYReachStart)="scrolledToTop()">
                                <div class="ChatThreadContent">
                                    <div class="col-12 message-row"
                                        *ngFor="let message of arrMessages; last as last; first as first"
                                        [ngClass]="{ 'mt-3' : first }">
                                        <div *ngIf="message.userId != intCurrentUserId">
                                            <div class="name">{{message.name}}</div>
                                        </div>
                                        <div
                                            [ngClass]="{'other' : message.userId != intCurrentUserId, 'self' :  message.userId == intCurrentUserId}">
                                            <div class="chat">
                                                <div class="chatMessage"> {{message.message}}</div>
                                                <div class="chatTime"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    {{message.time | chatDate }} </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </perfect-scrollbar>

                        </div>
                    </div>
                    <div>
                        <div class="col-12" class="chatInput">
                            <div class="chatInputContent">
                                <div class="row">
                                    <div class="col-12">
                                        <form [formGroup]="messageForm" #myform="ngForm"
                                            (ngSubmit)="sendMessage(myform)">
                                            <div class="d-flex">
                                                <input type="text" class="message-input" placeholder="Type a message"
                                                    formControlName="message" />
                                                <button type="submit" class="message-send-btn"
                                                    [disabled]="messageForm.invalid"><i class="fa fa-paper-plane"
                                                        aria-hidden="true"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #menu let-modal>
        <div class="menu-body">
            <div class="memberHead">
                Members
            </div>
            <div class="member-list">
                <div class="member d-flex" *ngFor= "let member of arrActiveUsers">
                    <div class="member-name">
                        <div class="member-name-text">
                            {{member.name}}
                        </div>
                    </div>
                    <div class="member-status">
                        <div class="member-status-text" [ngClass]="{'online' : member.active}">
                            {{member.active ? 'Online' : 'Offline'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="logout d-flex justify-content-end">
                <div class="btn logout-btn" (click)="logOut()">
                    Logout
                </div>
            </div>
        </div>
</ng-template>